<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>About</title>
     <link rel="icon" href="/img/zip-code.png">
  </head>
  <body>

    <div class="main-content">

    
      {{>header}}
 
  
    {{!-- <img src="/img/me.png" img class="portrait"   alt="My Image" /> --}}
        <img src="/img/zip-code.png" img class="portrait"   alt="ZIP" />
            {{!-- <img src="/img/weather.png" img class="portrait"   alt="Weather" /> --}}
    </div>
     {{>footer}}
      </body>
</html>