<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>About</title>
     <link rel="icon" href="/img/weather.png">
  </head>
  <body>

    <div class="main-content">

    
      {{>header}}
 
    <p>This is the about page.</p>
    <img src="/img/me.png" img class="portrait"   alt="My Image" />
    </div>
     {{>footer}}
      </body>
</html>