<html>
  <head>
    <title>{{title}}</title>
        <link rel="icon" href="/img/zip-code.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="main-content">
     {{>header}}
{{errorMessage}}
<div class="smiley">
  
  To find the code, enter the street name, building number, city, optionally country
      
    </div>
</div>

    

      {{>footer}}
  </body>  


</html>