<html>
  <head>
    <title>{{title}}</title>
        <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="main-content">
     {{>header}}
{{errorMessage}}
<div class="smiley">
      ;-) 
      
    </div>
</div>

    

      {{>footer}}
  </body>  


</html>